.App {
  text-align: center;
  border: 1px solid black;
}

.title-style {
  text-align: center;
  margin-top: 5%;
}


.filterform-style {
  margin: auto;
  margin-top: 3%;
  width: 70%;
}

.filter-style {
  position: relative;
  width: 70%;
}

.add-btn {
  position: relative;
  left: 15%;
  top: 40px;
  width: 15%;
}

.view-btn {
  width: 100px;
  margin-bottom: 5%;
}

.update-btn {
  width: 100px;
  margin-bottom: 5%;
}

.delete-btn {
  width: 100px;
  margin-bottom: 5%;
}


